@use '../abstracts' as *;

.base-button-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    color: hsl(var(--black), 50%);
    @include button;

    &:hover {
        color: hsl(var(--primary-color));
    }
}
