{% props value = 0, variant = "" %}

<div class="form-counter form-counter--{{ variant }}">
    <button class="form-counter__button">-</button>
    <span class="form-counter__value">{{ value }}</span>
    <button class="form-counter__button" >+</button>
</div>
