:root {
    --primary-color: 22, 65%, 57%;
    --primary-color-light: 21, 94%, 75%;
    --grey: 0, 0%, 95%;
    --grey-light: 0, 0%, 98%;
    --black: 0, 0%, 0%;
    --white: 0, 0%, 100%;
    --background-color: 0, 0%, 6%;
    --error-color: 0, 65%, 49%;
    --container: 1100px;
    --border-radius: 8px;
}
